
    <ul id="menu-main-menu" class="text-right">
        {% for item in menu.items %}

            <li class="{{ item.classes | join(' ') }} nomega-menu-item">
                    <a data-hover="{{ item.title }}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul class="depth0  sub-menu">
                            {% for child in item.children %}
                                <li class="nomega-menu-item">
                                    <a href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                <a class="mb-dropdown-icon hidden-lg hidden-md" href="#"></a>
            </li>
        {% endfor %}
    </ul>




