<!DOCTYPE html>
<html {{site.language_attributes}}>
<head>
    <meta charset="{{site.charset}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }}</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ favicon.url }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/695d490bfd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    {{wp_head}}

    <script type="text/javascript" src="http://devspeedi.fr/wp-content/themes/odas57/assets/js/jquery.multipurpose_tabcontent.js"></script>

    <style type="text/css">

        .vc_section.vc_custom_1581414942216 {
            background: url({{ Image(24).src('full')|e('esc_url') }})no-repeat center;
            background-size: cover;
        }

       /* .vc_section.vc_custom_1581414942216::before {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: rgba(185, 43, 48, 0.65);
        }*/

        .page-id-33 #sect-vaq {
            background: url({{ Image(24).src('full')|e('esc_url') }})no-repeat center;
            background-size: cover;
        }

        .page-id-33 #sect02 {
            background: url({{ Image(24).src('full')|e('esc_url') }})no-repeat center;
            background-size: cover;
        }

        .page-id-43 .wpcf7-form-control-wrap select {
            width: 100%;
            height: 44px;
            border-radius: 4px;
            border: 1px solid #ddd;
            margin-bottom: 1em !important;
            padding-left: .5em;
        }

        .vc_column-inner.vc_custom_1582819118630 {
            background: #2d8bcb !important;
        }

        .vc_custom_1582819118630 label {
            color: #fff;
        }

        .page-id-43 .wpcf7-form-control-wrap select {
            font-weight: 300;
            font-size: 13px;
            letter-spacing: 2px;
            text-align: center;
            height: 45px;
            font-family: "Poppins", sans-serif;
            width: 100%;
        }

        @media (max-width: 600px) {
            .item.col-lg-6.pd0 {
                margin-bottom: 1em;
            }
            .row.odas.itemService_row {
                padding: 0 1em;
            }
            .showMobile {
                display: block;
            }
            .iconBox > .iconBox-container {
                padding: 20px 30px 23px 30px!important;
            }
            .item.col-lg-6.pd0 {
                height: 300px!important;
            }
            .vc_custom_1581064373654 {
                margin-top:0!important;
            }
            .odas.itemService_row .dtl {
                display: none!important;
            }
            .odas-style-tag {
                top: 14px;
                bottom: auto;
            }
            #breadcrumb > a, #breadcrumb > span {
                padding: 0 .3em;
            }
            .vc_custom_1583853728290 {
                margin: 0!important;
            }
            .vc_section.vc_custom_1583853728290 {
                margin: 0!important;
            }
            .vc_custom_1581849460510 {
                padding-top: 0!important;
            }
            #lien_charte img{
                max-width: 100%;
                height: 100%;
            }
            .vc_custom_1581849460510 {
                margin-top: 2em;
            }
            .vc_tta-panel-body > .vc_row {
                padding: 0 1em;
            }
            ._p_ img {
                margin-bottom: 1em;
            }
            .vc_custom_1583857216791 {
                padding: 0!important;
            }
            .btnLinkSubmit {
                background: #374f59;
                border:1px solid #374f59;
            }
            .btnLinkSubmit:hover {
                background: #fff;
                color: #374f59;
            }
            .vc_custom_1582816108923 {
                padding-bottom: 0 !important;
            }

            .wpcf7-form-control.wpcf7-select {
                height: 50px;
                width: 100%;
                border: 1px solid #ddd;
                margin-bottom: 1em;
                border-radius: .2em;
            }
            #candidature {
                padding-bottom: 0 !important;
            }
            section.single {
                padding: 1em 0;
            }

        }

        @media (min-width: 601px) {
            .showMobile {
                display: none!important;
            }
        }



    </style>

